.container {
  max-width: 760px;
  min-height: 500px;
  width: 90%;
  margin: 60px auto;
  border-radius: 12px;
  background: #0f70c6;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #e1e9fc;
}

.container h1 {
  font-size: 40px;
}

.container p {
  font-size: 1.3em;
  line-height: 1.5em;
  padding: 80px 30px;
  text-align: center;
}

.btn {
  background-color: #6eb7fb;
  padding: 1.4rem 2.2rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  cursor: pointer;
  border: none;
  border-radius: 2em;
  color: #15171c;
  font-size: 1.1em;
  text-align: center;
  transition: all 0.4s ease;
  font-weight: 500;
}

.btn:hover {
  background-color: #cee5ff;
}

.container h1 span {
  font-size: 1.5rem;
  color: #c7cede;
}

.answers {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.answers button {
  font-size: 1.3rem;
  background: #6eb7fb;
  border-radius: 1em;
  border: none;
  cursor: pointer;
  padding: 0.8rem 0;
  color: #15171c;
  width: 100%;
  transition: background 0.4s ease;
  font-weight: 500;
}

.answers button:not(:last-child) {
  margin-bottom: 1.2rem;
}

.answers button:hover {
  background-color: #cee5ff;
}

.quiz_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.score {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 3rem 0;
  text-align: center;
  line-height: 1.5;
}
