.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #5070e2;
  height: 100vh;
}

.header {
  font-size: 2.5rem;
  margin-top: 100px;
  color: #e1e9fc;
}

.grid-container {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 400px 400px;
  column-gap: 100px;
  row-gap: 100px;
  color: #e1e9fc;
}

.grid-container img {
  width: 170px;
  height: 170px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  background-color: rgb(207, 77, 99);
  box-shadow: -15px -15px 15px rgba(0, 0, 0, 0.05), 15px 15px 15px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.grid-container span {
  padding: 0px 10px;
}
