.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #613ed4;
  margin-top: 60px;
  min-height: calc(100vh - 60px);
  width: 100%;
  padding-bottom: 60px;
}

.header {
  font-size: 2.5rem;
  margin: 80px;
  color: #e1e9fc;
}

.grid-container {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: 400px 400px;
  column-gap: 100px;
  row-gap: 100px;
}

.grid-container img {
  width: 170px;
  height: 170px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  background-color: rgb(207, 77, 99);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  border-radius: 12px;
  text-decoration: none;
  color: #e1e9fc;
}

.grid-container span {
  padding: 0px 10px;
}

.card a {
  text-decoration: none;
}
